body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 80vw;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.8;
}

.counterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 350px;
  border-radius: 25px;
}

.counter-body {
  display: flex;
  align-items: center;
}

#counter-value {
  position: relative;
  font-size: 75px;
  justify-content: center;
  margin: 0 10px;
}

#reset-btn {
  display: block;
}

button {
  cursor: pointer;
  font-size: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 0;
  margin: 5px;
  height: 40px;
  width: 80px;
}

.color-changer {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

h3 {
  margin: auto;
}
